.form-buku {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.form-input__field {
  margin: 10px !important;
}

.form-buku__container h2 {
  font-family: 'Open Sans', sans-serif;
}

.card-content-mhs {
  display: flex;
  align-items: center;
}

.card-detail-mhs {
  margin-left: 1rem;
}
